body{
  background-color: #BCE1DF;
  font-size: 14px;
  color:#3E3A39;
}
#container{
  width: 1200px;
}
#header{
  height: 270px;
  background-image: url(picture/backheader.png);
}
#menu{
  width: 310px;
  float: left;
}
#content{
  width: 890px;
  float: right;
  background-color: #ffffff;
}
#content h3{
  padding: 5px;
}
#content h4{
  padding: 5px;
}
#content p{
  padding: 5px;
}
#header h1{
  padding-top: 40px;
  padding-left: 32px;
}
#menu ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#menu li{
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 10px 10px  10px 6px;
  background-color: #ffffff;
  margin-top: 14px;
  margin-right: 14px;
}
a:link{
  color: #0086cc;
  text-decoration: none;
}
a:visited{
  color: #0086cc;
}
a:hover{
  color: #f3a42c;
}
